/* Custom styles */

/* General Styles */
.main {
	margin-top: 25px;
}

.brand .n-logo{
	max-width: 100px;
	margin-bottom: 5px;
	margin-top: 80px;
}

/* About Page */

.briefAbout{
	margin-bottom: 30px;
}

.officers .team-player{
	text-align: center;
	height: 90%;
}

.officers .team-player img{
	width: 85%;
	border-radius: 20%;
	height: 85%;
}
